# Windows
[Dd]esktop.ini
Thumbs.db
$RECYCLE.BIN/

# macOS
.DS_Store
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes

# Node.js
node_modules/
frontend/project.config.json
frontend/project.config.json
backend/db.sqlite3
backend/test_db
frontend/project.config.json

# Django
backend/user/__pycache__
backend/wechat/__pycache__
backend/user/migrations/__pycache__

# Pycharm
.idea